output
env
__pycache__
.env
vst/JUCE
vst/build
vst/build_vs
vst/soundtouch
vst/out
vst/.vs
.vscode
server/api/generated_loops
server/api/temp_loops
output.wav
.vs
models/*
!models/.gitkeep
start.sh 
start.bat
benchmark_results.json
build
dist
OBSIDIAN-Neural-Server.spec
OBSIDIAN-Neural-Installer.spec
testfiles/*
!testfiles/.gitkeep