DJ_IA_API_KEY=your api key, used in prod
LLM_MODEL_PATH=your llm model path
AUDIO_MODEL=your music gen model, choices are : "musicgen-small", "musicgen-medium", "musicgen-large", "stable-audio-open", "stable-audio-pro"
ENVIRONMENT=dev/prod