DJ_IA_API_KEY=api keys separated by commas
LLM_MODEL_PATH=your llm model path
AUDIO_MODEL=your music gen model, choices are : "musicgen-small", "musicgen-medium", "musicgen-large", "stable-audio-open", "stable-audio-pro"
ENVIRONMENT=dev/prod
HOST=127.0.0.1
PORT=8000